*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
    font-family: 'Press Start 2P', cursive;

}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.choice:hover{
    /* opacity: 0.6; */
    cursor: pointer;
    background-color: #081b31;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    /* border-radius: 50%; */
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
    
    
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 2rem;
    gap: 3rem;
    font-family: 'Press Start 2P', cursive;
}

#user-score, 
#comp-score {
    font-size: 3rem;

}

.msg-cont{
    margin-top: 4rem;
}

#msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 2rem;
    border: 1.5px solid black;
    font-family: 'Press Start 2P', cursive;
}